



.bannerThankYouContent {
  background-image: url('/assets/images/thankyouPageBanner.webp');
  width: 100%;
  min-height: 750px;
  max-height: 850px;
  background-size: cover;

 
}

@media   (min-width: 1920px) {
  .bannerThankYouContent {
    background-image: url('/assets/images/thankyouPageBanner.webp');
    width: 100%;
    min-height: 900px;
    max-height: 950px ;
    background-size: cover;
   
}
}








  @media only screen and (max-width: 600px) {
   
    .bannerThankYouContent
    {
        width: 100%;
      background-image: url('/assets/images/thankyouBanner4.webp');
      background-size: cover;
      min-height: 600px ;
    
    }
    
  }
